---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main class="max-w-2xl mx-auto p-6">
      <h1>About Me</h1>
      <ul class="space-y-2 list-disc list-inside">
        <li>👋 Hello, I’m Hank.</li>
        <li>🎓 I’m an Electrical Engineering undergrad interested in computer science.</li>
        <li>🚀 My main passions are compilers, programming languages, and computer architecture.</li>
        <li>💻 I write code in Rust, Swift, Haskell, and Lean 4.</li>
        <li>🛠 For tooling, I live in Neovim and Nix.</li>
        <li>🎾 When I’m not coding, I’m on the tennis court.</li>
        <li>🎶 I unwind with Melodic Dubstep and Tropical House on repeat.</li>
      </ul>
    </main>
    <Footer />
  </body>
</html>

